%tr
  %td= promo_event.id
  %td= promo_event.full_phone_number
  %td
    - case promo_event.name
    - when 'sign_up'
      Установка
    - when 'set_referrer'
      Приглашение
    - when 'invited_user'
      Приглашение


  %td= promo_event.created_at.strftime("%d.%m.%Y, в %H:%M")
