.container-fluid
  .row
    .col-lg-3
    .col-lg-6#verify
      .card.mt-3
        .card-header
          Проверить результаты (#{link_to 'скачать полную таблицу', 'https://recario-space.ams3.digitaloceanspaces.com/promo.csv'})
        .card-body
          %form.mb-2{ action: '/network#verify' }
            .input-group
              %input.form-control{ placeholder: 'Пригласительный код', name: 'refcode', value: params[:refcode] }
              %button.btn Проверить
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.table-sm
              %thead
                %th Код
                %th Телефон
                %th Действие
                %th Дата
              = render @events
        .card-footer
          = paginate @events, params: { anchor: :verify }