.row
  .col-md-6.offset-md-3
    %h1 Рекаріо!

    %p СТОП. Цей час настав — купуй автомобілі по-новому!

    %p Тільки у друзів та знайомих за рекомендацією.

    %p Завантаж додаток за посиланнями зверху.

    %p Або приєднуйся до нашого інстаграму, щоб дізнатися більше
