.row
  .col-md-6.offset-md-3
    %h1 Рекарио!

    %p СТОП. Пришло время покупать и продавать автомобили по-новому!

    %p Только через друзей и знакомых и по рекомендации общих друзей.

    %p Скачай приложение, чтобы попробовать. Ссылки для загрузки – вверху.

    %p Или заходи в наш инстаграм, чтобы узнать Рекарио поближе.
