<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>     
  
        <!-- TITLE OF SITE --> 
        <title>Рекарио – Установить приложение удобной покупки и продажи вашего автомобиля</title>
  
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="description" content="Покупка и продажа автомобилей в Украине через друзей и знакомых" />
        <meta name="keywords" content="автомобили, машины, купить машину, продать машину, купить авто, продать авто" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAV AND TOUCH ICONS   -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- Social OG tags -->
        <meta property="og:title" content="Рекарио – покупка и продажа автомобилей в Украине через друзей и знакомых" />
        <meta property="og:type" content="company" />
        <meta property="og:url" content="https://recar.io" />
        <meta property="og:image" content="https://recar.io/images/background-1.jpg" />
        <meta property="og:site_name" content="reCar.io">
        <meta property="og:description" content="Покупка и продажа автомобилей в Украине через друзей и знакомых" />

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <!-- FONT ICONS -->
        <link rel="stylesheet" href="icons/rik-icons/styles.css">

        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <!-- COLOR -->
        <link rel="stylesheet" href="css/colors/color-1.css" type="text/css" id="color-scheme" />

        <!--[if lt IE 9]>
            <script src="js/plagin-js/html5shiv.js"></script>
            <script src="js/plagin-js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="">

        <!-- Start: Header Section
        ================================ -->
        <section class="header-section-1 bg-1 header-js" id="header" >
            <div class="overlay-color">
                <div class="container">
                    <div class="row section-separator sp-top">

                        <div class="part-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="part-inner text-center mr-small">

                                <!-- Main Logo -->
                                <a href="/" class="logo-link">
                                    <img src="/images/logo.png" alt="" class="img-responsive logo">
                                </a>

                                <!--  Header SubTitle Goes here -->
                                <h1 class="title">Так будут покупать и продавать автомобили в 2021</h1>

                                <!-- Button Area -->
                                <div class="btn-form m-t-40 btn-scroll">
                                    <a href="#download" class="btn btn-fill">УСТАНОВИТЬ ПРИЛОЖЕНИЕ</a>
                                </div>
                                
                                <!-- Mobile App Image -->
                                <div class="image-group">
                                    <!-- <img src="images/home-left.jpg" alt="" class="home-left img-responsive">
                                    <img src="images/home-center.jpg" alt="" class="home-center img-responsive">
                                    <img src="images/home-left.jpg" alt="" class="home-right img-responsive"> -->
                                </div>

                            </div>
                        </div> <!-- End: .part-1 -->

                    </div> <!-- End: .row -->
                </div> <!-- End: .container -->
            </div> <!-- End: .overlay-color -->
        </section>
        <!-- End: Header Section
        ================================ -->



        <!-- Start: Features Section 1
        ================================== -->
        <section class="features-section-1 section" id="features">
            <div class="container">
                <div class="row section-separator">
                    
                    <!-- Start: Section Heading -->
                    <div class="section-header col-md-10 col-md-offset-1">
                        <h2 class="section-heading">Спокойно, выгодно, молодёжно</h2>
                        <p class="sub-title">Телефонная книга – источник приятных сделок и скидок. Просто нужно использовать её полной вместе с Рекарио</p>
                    </div>
                    <!-- End: Section Heading -->

                    <div class="part-1 col-xs-12">
                        <div class="row">

                            <div class="vertical-middle col-md-4 col-sm-6 col-sm-offset-3 ">

                                <!-- Each Features Item -->
                                <div class="feature-item text-center">

                                    <div class="gradient-border">
                                        <i class="icon features-icon gradient-text icon-social-myspace-circle"></i>
                                    </div>

                                    <div class="feature-content text-center">
                                        <h3 class="title">Друзья уже здесь</h3>
                                        <p>Объявления уже в Рекарио. Зарегистрируйся и посмотри, кто из друзей продаёт автомобиль. Пригласи друзей, чтобы увидеть общих знакомых</p>
                                    </div>

                                </div> <!-- End: .feature-item -->

                                <!-- Each Features Item -->
                                <div class="feature-item text-center">
                                    
                                    <div class="gradient-border">
                                        <i class="icon features-icon gradient-text icon-icon-currency"></i>
                                    </div>

                                    <div class="feature-content text-center">
                                        <h3 class="title">Друзья уступят</h3>
                                        <p>Часто мимолетная встреча на автомойке или СТО плюс пятиминутный разговор может вылиться в: «Выставил за 20,000 $, но тебе отдам за 18,000 $ и зимнюю резину в подарок», замечали?</p>
                                    </div>

                                </div> <!-- End: .feature-item -->

                            </div> <!-- End: .col-md-4 -->

                            <div class="vertical-middle col-md-4">

                                <!-- Features Image  -->
                                <div class="features-image">

                                    <img src="images/screen-ad.jpg" alt="">

                                </div>  <!-- End: .features-image  -->

                            </div> <!-- End: .col-md-4 -->

                            <div class="vertical-middle col-md-4 col-sm-6 col-sm-offset-3">

                                <!-- Each Features Item -->
                                <div class="feature-item text-center">

                                    <div class="gradient-border">
                                        <i class="icon features-icon gradient-text icon-icon-like"></i>
                                    </div>
                                    
                                    <div class="feature-content text-center">
                                        <h3 class="title">Друзья расскажут правду</h3>
                                        <p>Так уж принято, что сват брата жены друга заслуживает знать, что на холостых гуляют обороты. Но для незнакомых – не бит, не крашен</p>
                                    </div>

                                </div> <!-- End: .feature-item -->

                                <!-- Each Features Item -->
                                <div class="feature-item text-center">
                                    
                                    <div class="gradient-border">
                                        <i class="icon features-icon gradient-text icon-icon-shield-alt"></i>
                                    </div>
                                    
                                    <div class="feature-content text-center">
                                        <h3 class="title">Друзья не сдадут</h3>
                                        <p>Надоел спам через 15 минут после публикации объявления? Перед продажей покупаешь новый номер? Не переживай, телефон не засветится – друзья его знают, а остальное решит Рекарио</p>
                                    </div>

                                </div> <!-- End: .feature-item -->

                            </div> <!-- End: .col-md-4 -->

                        </div> <!-- End: .row -->
                    </div> <!-- End: .part-1 -->

                </div> <!-- End: .row -->
            </div> <!-- End: .container -->
        </section>
        <!-- End: Features Section 1
        ================================== -->




        <!-- Start: Features Section 2
        ================================== -->
        <section class="features-section-2 bg-2 section" id="how-it-works">
            <div class="overlay-color">
                <div class="container">
                    <div class="row section-separator light-text">
                        
                        <!-- Start: Section Heading -->
                        <div class="section-header col-md-10 col-md-offset-1">
                            <h2 class="section-heading">Как это работает</h2>
                            <p class="sub-title">Помнишь, как рекомендация общих знакомых сбивала цену для покупателя и экономила нервы продавцу, а?</p>
                        </div>
                        <!-- End: Section Heading -->

                        <div class="part-1 col-xs-12">
                            <div class="row">
                                
                                <div class="features-item text-center col-sm-3 col-xs-12">

                                    <div class="icon-outer">
                                        <i class="icon features-icon gradient-text-full icon-icon-house"></i>
                                    </div>

                                    <h4 class="title m-t-30">Установи приложение</h4>

                                </div>
                                <div class="features-item text-center col-sm-3 col-xs-12">

                                    <div class="icon-outer">
                                        <i class="icon features-icon gradient-text-full icon-icon-heart"></i>
                                    </div>

                                    <h4 class="title m-t-30">Найди объявление</h4>

                                </div>
                                <div class="features-item text-center col-sm-3 col-xs-12">

                                    <div class="icon-outer">
                                        <i class="icon features-icon gradient-text-full icon-icon-group"></i>
                                    </div>

                                    <h4 class="title m-t-30">Пробей через друга</h4>

                                </div>
                                <div class="features-item text-center col-sm-3 col-xs-12">

                                    <div class="icon-outer">
                                        <i class="icon features-icon gradient-text-full icon-icon-check-alt"></i>
                                    </div>

                                    <h4 class="title m-t-30">Купи со скидкой</h4>

                                </div>

                            </div> <!-- End: .row -->
                        </div> <!-- End: .part-1 -->

                    </div> <!-- End: .row -->
                </div> <!-- End: .container -->
            </div>
        </section>
        <!-- End: Features Section 2
        ================================== -->




        <!-- Start: Features Section 3
        ================================== -->
        <section class="features-section-3 section bg-dark" id="describe">
            <div class="container">
                <div class="row section-separator v-center">
                    
                    <div class="features-image col-md-6 col-md-push-6">

                        <img src="images/screen-feed.jpg" height=200 alt="App Picture" class="img-responsive pull-right">

                    </div>
                    <div class="features-content m-t-50 col-md-6 col-md-pull-6">
                            
                        <!-- Start: Section Heading -->
                        <div class="section-header text-left m-b-30">
                            <h2 class="section-heading gradient-text-full">Друг лучше перекупа</h2>
                        </div>
                        <!-- End: Section Heading -->

                        <div class="detail">
                            <p>Любой посредник хочет заработать. На покупателе, продавце или сразу на обоих. Хорошо, когда посредник вкладывает что-то в стоимость – срочно выкупает автомобиль у хозяина, проводит ТО перед продажей, честно указывает все реальные косяки. Но мы в Украине...</p>
                            <p>По теории шести рукопожатий все мы друг друга знаем. Очень часто в реальной жизни так и происходит (особенно, когда покупаешь машину в своем городе). Но всплывает это потом, а деньги уже уплачены, нервы на торг не вернуть.</p>
                            <p>Когда между покупателем и продавцом есть общие друзья – цена обычно снижается без сожалений со стороны продавца, а покупатель перестает искать, за что бы зацепиться для торга. Все счастливы и довольны и даже в черный список не нужно добавлять покупателя.</p>
                        </div> <!-- End: .detail -->

                        <!-- Button Area -->
                        <div class="btn-form m-t-50 btn-scroll">  
                            <a href="#download" class="btn btn-fill">УСТАНОВИТЬ ПРИЛОЖЕНИЕ</a>
                            <!-- <a href="https://vimeo.com/45830194" class="btn btn-icon left-icon btn-border popup-video">
                                <i class="icon icon-arrow-triangle-right-alt2"></i>
                                <span class="btn-text">WATCH VIDEO</span>
                            </a> -->

                        </div>

                    </div> <!-- End: .features-content -->

                </div> <!-- End: .row -->

            </div> <!-- End: .container -->
        </section>
        <!-- End: Features Section 3
        ================================== -->


        <!-- Start: Section Separator
        ================================== -->
        <section class="Section-separator">
            <div class="container">

                <hr class="section-separator-line"> <!-- Separatior Two Section -->
                
            </div> <!-- End: .container -->
        </section>
        <!-- End: Section Separator
        ================================== -->

        <!-- Start: Features Section 5
        ================================== -->
        <section class="features-section-5 testimonials-1 bg-4 section" id="download">
            <div class="overlay-color">
                <div class="container">
                    <div class="row section-separator light-text">
                        
                        <!-- Start: Section Heading -->
                        <div class="section-header col-md-10 col-md-offset-1">
                            <h2 class="section-heading">Установи приложение и поехали</h2>
                            <p class="sub-title">Рекарио сейчас знает общих знакомых для <b><%= @total_count %></b> объявлений. Присоединяйся, зови друзей и будет миллион!</p>
                        </div>
                        <!-- End: Section Heading -->

                        <div class="clearfix"></div>

                         <!-- Start: Download Button -->
                        <div class="btn-form btn-scroll text-center">  <!-- Button Area -->

                            <a href="/ios" class="btn btn-icon left-icon btn-fill">
                                <i class="icon icon-app-store"></i>
                                <span class="btn-text">App Store</span>
                            </a> <!-- End: .apple -->
                            <a href="/android" class="btn btn-icon left-icon btn-fill">
                                <i class="icon icon-google-play"></i>
                                <span class="btn-text">Google Play</span>
                            </a> <!-- End: .android -->

                        </div>
                        <!-- End: Download Button -->

                    </div> <!-- End: .row -->
                </div> <!-- End: .container -->
            </div> <!-- End: .overlay-color-full -->
        </section>
        <!-- End: Features Section 5
        ================================== -->

        <!-- Start: Features Section 3
        ================================== -->
        <section class="features-section-3 section" id="describe-2">
            <div class="container">
                <div class="row section-separator v-center">

                    <div class="features-image col-md-6">

                        <img src="images/screen-chat.jpg" alt="App Image" class="img-responsive pull-left">

                    </div>
                    <div class="features-content m-t-50 col-md-6 ">

                        <!-- Start: Section Heading -->
                        <div class="section-header text-left m-b-30">
                            <h2 class="section-heading gradient-text-full">Не имей 100 рублей…</h2>
                        </div>
                        <!-- End: Section Heading -->

                        <div class="detail">
                            <p>Чем больше людей присоединяется к Рекарио, тем проще найти общих друзей для покупки своей следующей машины.</p>
                            <p>Даже если ты не интересуешься автомобилями, не хочешь менять Ту Единственную или не признаешь вторичку – присоединившись к нам, ты поможешь своим друзьям в будущем!</p>
                            <p>Чем проще будет купить машину без посредников – тем чаще мы будем менять машины. Чем чаще люди меняют машины, тем новее становится автопарк страны, тем лучшую машину можно купить за ту же цену.</p>
                            <a href="#download" class="btn btn-fill">УСТАНОВИТЬ ПРИЛОЖЕНИЕ</a>
                        </div> <!-- End: .detail -->




                    </div> <!-- End: .features-content -->

                </div> <!-- End: .row -->
            </div> <!-- End: .container -->
        </section>
        <!-- End: Features Section 3
        ================================== -->
        <div class="nav-footer">
            <a href="/news"><i class="gradient-text-full fa fa-telegram"></i></a>
            <a href="/ios"><i class="gradient-text-full fa fa-apple"></i></a>
            <a href="/android"><i class="gradient-text-full fa fa-android"></i></a>
            <a href="https://github.com/recario/server/"><i class="gradient-text-full fa fa-github"></i></a>
            <a href="https://www.instagram.com/recar.io/"><i class="gradient-text-full fa fa-instagram"></i></a>
        </div>
        <!-- Social nav

        ================================== -->

        
        <!-- SCRIPTS 
        ========================================-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/plagin-js/plagin.js"></script>

    </body>

</html>