!!!
/[if IE 7] <html class="no-js ie7 oldie" lang="en-US">
/[if IE 8] <html class="no-js ie8 oldie" lang="en-US">
/ [if gt IE 8]><!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / TITLE OF SITE
    %title Розыгрыш трех iPhone 11 от Рекарио и Dreamcar.ua
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "Покупка и продажа автомобилей в Украине через друзей и знакомых", :name => "description"}/
    %meta{:content => "автомобили, машины, купить машину, продать машину, купить авто, продать авто", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    / FAV AND TOUCH ICONS
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    / Social OG tags
    %meta{:content => "Рекарио – покупка и продажа автомобилей в Украине через друзей и знакомых", :property => "og:title"}/
    %meta{:content => "company", :property => "og:type"}/
    %meta{:content => "https://recar.io", :property => "og:url"}/
    %meta{:content => "https://recar.io/images/background-1.jpg", :property => "og:image"}/
    %meta{:content => "recar.io", :property => "og:site_name"}/
    %meta{:content => "Покупка и продажа автомобилей в Украине через друзей и знакомых", :property => "og:description"}/
    / BOOTSTRAP CSS
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    :css
      h1 { color: #fff; background: #8e44ad; padding: 24px 0; margin: 0; text-align: center; }
      h2 { text-align: center; padding: 24px 0; }
      h3 { text-align: center; }
      #intro { text-align: center; }
      #intro img { max-height: 600px }
      .step-num { background: #8e44ad; color: #fff; border-radius: 50%; padding: 24px; width: 64px; height: 64px; margin: 24px 0; font-size: 16px; font-weight: bold }
  %body
    %h1 Dreamcar и Рекарио дарят Honda&nbsp;S2000 и три&nbsp;iPhone&nbsp;11
    .container-fluid
      #intro= image_tag('/intro.png', class: 'img-fluid')
      .row
        .col-lg-12
          %h2 Разыграем три iPhone 11!
          .row
            .col-lg-4.col-xs-12
              %p Для участия нужно просто установить наше мобильное приложение
            .col-lg-4.col-xs-12
              %p Прямо перед тем, как Dreamcar подарит легендарную Honda S2000, мы выберем трёх случайных участников нашего розыгрыша при помощи сервиса random.org
            .col-lg-4.col-xs-12
              %p P.S. Если ещё не знаешь о розыгрыше Honda S2000, то заходи сюда
          %h2 Как принять участие?
          .row
            .col-lg-4.col-xs-12
              .d-flex.justify-content-center
                .step-num.align-items-center.d-flex.justify-content-center 1
              %p
                Установить приложение по 
                = link_to 'ссылке', 'https://recar.io/get', target: :blank
                (iOS и Android)
            .col-lg-4.col-xs-12
              .d-flex.justify-content-center
                .step-num.align-items-center.d-flex.justify-content-center 2
              %p Зайти в приложение, используя свой личный номер телефона. Именно по этому номеру мы будем звонить победителю
            .col-lg-4.col-xs-12
              .d-flex.justify-content-center
                .step-num.align-items-center.d-flex.justify-content-center 3
              %p Перейти в настройки и получить свой собственный Пригласительный код
          %h3 ГОТОВО!
          %p Теперь ты принимаешь участие в розыгрыше трёх iPhone 11!
      %h2 Хочешь увеличить свои шансы на выигрыш?
      .row
        .col-lg-4.col-xs-12
          .d-flex.justify-content-center
            .step-num.align-items-center.d-flex.justify-content-center &times;2
          %p Укажи, кто пригласил тебя в Рекарио и увеличшь шансы ВДВОЕ!
        .col-lg-4.col-xs-12
          .d-flex.justify-content-center
            .step-num.align-items-center.d-flex.justify-content-center &times;10
          %p Пригласи 10 друзей в Рекарио и увеличь свои шансы в десять раз!
        .col-lg-4.col-xs-12
          .d-flex.justify-content-center
            .step-num.align-items-center.d-flex.justify-content-center &times;1000
          %p Ты можешь иметь в тысячу раз больше шансов на победу, если пригласишь 1000 друзей!
      %h2 Как это работает?
      .row
        .col-lg-4.col-md-12
          %p Мы проведём розыгрыш так же, как и Dreamcar проводил все свои предыдущие розыгрыши, чтобы все было максимально честно и понятно.
        .col-lg-4.col-md-12
          %p Сначала составим таблицу участников, где каждая строчка будет давать шанс на выигрыш. То есть, каждая строчка может быть выбрана генератором случайных чисел (random.org).
        .col-lg-4.col-md-12
          %p И самое главное — у каждого человека, установившего приложение, может быть БОЛЕЕ одной строчки
      %h2 Что это значит на практике?
      .row
        .col-lg-4.col-md-12
          %p Ты получишь одну строчку за то, что просто установил приложение;
        .col-lg-4.col-md-12
          %p Ты получишь одну строчку за то, что указал, кто тебя пригласил;
        .col-lg-4.col-md-12
          %p Ты также получишь по строчке за каждого друга, которого приведешь в Рекарио!
      .row
        .col-lg-12
          %p Таким образом, если ты: установил приложение, указал, кто тебя пригласил и сам пригласил 10 друзей — у тебя будет в 11 раз больше шансов на выигрыш, чем у того, кто просто установил приложение!
          %p P.S. Кстати, в розыгрыше участвуют все — как те, кто только планирует установить приложение, так и те, кто уже давно с нами.
      .row
        .col-lg-12
          %h2 Проверить свои шансы
          %p Для того, чтобы все было максимально честно, мы будем публиковать изменения каждые 5-10 минут.
          %p Таблица будет доступна в течении всего розыгрыша для того, чтобы каждый мог в любой момент проверить честность.
          %p Введи свой пригласительный код и посмотри, сколько у тебя шансов.
      .row
        .col-lg-12
          %input.form-control{ placeholder: 'Пригласительный код...' }
          %br/
        .col-lg-12
          %table.table.table-bordered.table-full
            %tr
              %th Код
              %th Действие
              %th Дата
      .row
        .col-lg-12
          %p
            Больше подробностей в нашем
            = link_to 'Инстаграме', 'https://www.instagram.com/recar.io/', target: :blank