!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= @meta_title

    %meta{:charset => "utf-8"}/
    %meta{:content => @meta_description, :name => "description"}/
    %meta{:content => @meta_keywords, :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

    %link{href: "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{href: "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{href: "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{href: "/site.webmanifest", :rel => "manifest"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}

    %meta{:content => @meta_og_title, :property => "og:title"}/
    %meta{:content => "company", :property => "og:type"}/
    %meta{:content => "https://recar.io", :property => "og:url"}/
    %meta{:content => "https://recar.io/images/background-1.jpg", :property => "og:image"}/
    %meta{:content => "reCar.io", :property => "og:site_name"}/
    %meta{:content => @meta_og_description, :property => "og:description"}/
    = stylesheet_link_tag('widgets')
  %body
    .nav-wrapper
      .navs
        %a{href: "/"}
          %img{:src => "/images/logo-new.png"}/
        .push-right.d-flex
          %a.btn.btn-primary{href: "/ios"}
            %i.fa.fa-apple
            &nbsp;
            %span.btn-text AppStore
          &nbsp;
          %a.btn.btn-primary{href: "/android"}
            %i.fa.fa-android
            &nbsp;
            %span.btn-text Play Store
    .container-fluid= yield
    .footer
      %a{href: "/news"}
        %i.fa.fa-telegram.big-icon
      %a{href: "/ios"}
        %i.fa.fa-apple.big-icon
      %a{href: "/android"}
        %i.fa.fa-android.big-icon
      %a{href: "https://github.com/recario/server/"}
        %i.fa.fa-github.big-icon
      %a{href: "https://www.instagram.com/recar.io/"}
        %i.fa.fa-instagram.big-icon
